<div drag="{handle:'.modal-header'}" class="modal fade" id="{{did}}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{title}}</h4>
      </div>
      <div class="modal-body">
      <div data-ng-transclude></div>
      </div>
      <div class="modal-footer">
        <button data-ng-repeat="button in buttons" type="button" class="btn btn-default" id="{{did}}-{{$index}}" data-dismiss="{{isDismiss(button)}}" ng-click="iClick(button)">{{button.caption}}</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->