<div class="panel panel-default">
    <div class="panel-heading">{{beer.name}}</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img ng-src="{{beer.photo}}" alt="{{beer.name}}">
                </a>
            </div>
            <div class="col-md-9">
                <div class="col-md-12">
                    <strong>Nom :</strong>
                    <br>
                    {{beer.name}}
                    <br><br>
                    <strong>Description :</strong>
                    <br>
                    {{beer.description}}
                    <br><br>
                </div>
                <div class="col-md-6">
                    <strong>Date de création :</strong>
                    <br>
                    {{beer.created_at}}
                </div>
                <div class="col-md-6">
                    <strong>Date de mise à jour :</strong>
                    <br>
                    {{beer.updated_at}}
                    <br><br>
                </div>
                <div class="col-md-6">
                    <strong>Brasseur :</strong><br>
                    {{getBrewery()}}
                </div>
                <div class="col-md-6"><br>
                    <div class="btn-group" role="group">
                        <a class="btn btn-default" ng-click="showBrewery()">Afficher brasseur</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="btn-group" role="group">
    <a class="btn btn-default" href="beers">Retour à la liste des bières</a>
</div>