<div class="panel panel-default">
    <div class="panel-heading">{{brewery.name}}</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img ng-src="{{brewery.photo}}" alt="{{brewery.name}}">
                </a>
            </div>
            <div class="col-md-9">
                <div class="col-md-12">
                    <strong>Nom :</strong>
                    <br>
                    {{brewery.name}}
                    <br>
                    <br>
                    <strong>URL :</strong>
                    <br>
                    <a target="_blank" ng-href="{{brewery.url}}">{{brewery.url}}</a>
                    <br>
                    <br>
                </div>
                <div class="col-md-6">
                    <strong>Date de création :</strong>
                    <br>
                    {{brewery.created_at}}
                </div>
                <div class="col-md-6">
                    <strong>Date de mise à jour :</strong>
                    <br>
                    {{brewery.updated_at}}
                </div>
                <div class="col-md-12"><br>
                    <div class="btn-group" role="group">
                        <a ng-class="{'btn disabled btn-default': getBeerCount() == 0 , 'btn btn-default': getBeerCount() > 0}" ng-click="showBeers()">Voir les bières ({{getBeerCount()}})</a>
                    </div>
                </div>
                <div class="col-md-12 beerlist" ng-show="beerOn">
                    <table class="table">
                        <tr>
                            <th>Nom</th>
                            <th>Description</th>
                            <th>Degrés d'alcool</th>
                        </tr>
                        <tr ng-repeat="beer in beers">
                            <td>{{beer.name}}</td>
                            <td>{{beer.description}}</td>
                            <td>{{beer.abv}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="btn-group" role="group">
    <a class="btn btn-default" href="breweries">Retour à la liste des brasseries</a>
</div>