<div class="jumbotron">
	<div class="list-group">
		<a href="breweries" class="list-group-item list-group-item-warning active">
			<h4 class="list-group-item-heading">Breweries/brewers</h4>
		</a>
		<a href="breweries" class="list-group-item">Breweries/brewers list</a>
		<a href="breweries/new" class="list-group-item">Add a new one...</a>
		<a href="#" class="list-group-item list-group-item-warning active">
			<h4 class="list-group-item-heading">Beers</h4>
		</a>
		<a href="beers" class="list-group-item">Beers list</a>
		<a href="beers/new" class="list-group-item">Add a new one...</a>
		<a href="saves" class="list-group-item list-group-item-warning active" data-ng-show="hasOperations()">
			<h4 class="list-group-item-heading"><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>&nbsp;Opérations en attente ({{opCount()}})</h4>
		</a>
		<a href="config" class="list-group-item list-group-item-warning">
			<h4 class="list-group-item-heading"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>&nbsp;Configuration <span class="label label-primary">//TODO</span></h4>
		</a>
	</div>
</div>